@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

*{

    font-family: "IM Fell Double Pica SC", serif;
}
.headerIndex{
/* width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;*/
    background-color: #D9D9D9; /*SE QUEDA*/

    
}
.headerIndex a img{
    width: 8rem 8rem;

} 
.navbar{
    /*display: flex;
    gap: 150px;*/
    list-style: none;/*SE QUEDA*/
    
}
.navbar li a{
    font-size: 1.5em;
    text-decoration: none;
    color: black
    /*SE QUEDA*/
    ;
}

.sectionPrincipal img{
    position: relative;
    height: 43.75rem; 
}
.sectionPrincipal button{
border-radius: 11.25rem;
font-size: 3.2rem;                  
background-color: #CAAB7C;
cursor: pointer;
position: absolute;
top: 50%;
left: 50%;              /*REVISAR*/
transform: translate(-50%, -50%);
}

/*.productos{
    display: flex;
    width: 100%;
    justify-content: space-evenly;  REVISAR
    padding: 100px;
    gap: 7.5rem;
    }*/
    
.productos button{
    padding: 30px 20px;
    border: .25rem solid #CAAB7C;
    border-radius: 70px ;
    background-color: #CAAB7C;  /*SE QUEDA*/
    display: flex;
    cursor: pointer;
    text-decoration: none;
    
    

}

.productos img{
    width: 12.5rem;   /*REVISAR*/
    height: 11.25rem;
    
}

.sectionDescription{
    background-color: #CAAB7C; /*SE QUEDA*/
}
footer ul{
    list-style: none;
}


/**************************************************************************************/
.sectionProductos{
    background-color: #CAAB7C; /*SE QUEDA*/
}
.sectionProductos img{
    width: 32.75rem;   /*REVISAR*/
    height: 20.75rem;
}

.sectionProductos button{
    padding: 0.9rem 2.7125rem;
     /*SE QUEDA */
    border-radius: 8.375rem ;
    background-color: #D9D9D9;
}
.btn-primary {
    color: #000;
}
