.containerPreguntas{
    background-color: #CAAB7C;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: D9D9D9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;

    
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    color: black;
    margin: 0;
}

.faq-answer {
    padding: 10px 0;
    margin-top: 5px;
    padding-left: 20px;
    background-color: #D9D9D9;
    border-radius: 4px;
}

summary {
    outline: none;
}

details[open] .faq-question {
    color: black;
}